.edgeButton {
  cursor: pointer;
  pointer-events: all;
  stroke: #bbb;
  fill: white;
}

.edgeButton:hover {
  fill: #f5f5f5;
}

.edgeButtonText {
  pointer-events: none;
  user-select: none;
  fill: #bbb;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */

  text-align: center;

  /* Gray/30 */

  color: #B5B5B8;
}

.edgeButtonSym {
  pointer-events: none;
  user-select: none;
  fill: #bbb;
}

.edgePath {
  fill: none;
  stroke: #bbb;
  stroke-width: 1;
}

.placeholderPath {
  stroke-width: 1;
  stroke-dasharray: 3 3;
  stroke: #bbb;
  fill: none;
}